html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-dot {
  opacity: 1;
  background-color: #fff;
  background-image: radial-gradient(#d0d0d0 1.2px, #fff 0);
  background-size: 24px 24px;
}

.bg-ig-dot {
  opacity: 1;
  background-color: #fff;
  background-image: radial-gradient(rgba(232, 191, 204, 0.94) 1.2px, #fff 0);
  background-size: 24px 24px;
}


.App {
  min-height: 100vh;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}