.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 1;
    background-color: #fff;
    background-image: radial-gradient(#d0d0d0 1.2px, #fff 0);
    background-size: 24px 24px;
}


.title,
.description {
    text-align: center;
}

.description {
    margin: 2rem 0;
}
